<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../../../static/lib/js/p5.min.js"></script>
    <script>
      let y;
      // setupは一回だけ呼ばれる
      function setup(){
        createCanvas(720, 400); // createCanvasは必ず最初に呼ばなければならない
        stroke(255); // 線の色を白にする
        noLoop();
        y = height * 0.5;
      }
      // drawはプログラムが止まるまで実行する
      function draw(){
        background(0); // 背景色を黒に設定
        y = y - 1;
        if (y < 0) {
          y = height;
        }
        line(0, y, width, y);
      }
    </script>
  </head>
  <body>
    <div>
      <a href="https://p5js.org/examples/structure-no-loop.html">https://p5js.org/examples/structure-no-loop.html</a>
    </div>
    <div>
    </div>
  </body>
</html>
